<header class="bg-dark text-white p-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center 
      justify-content-between">
        <div class="elements_flex align-items-center">
          <a href="#" class="nav-link px-2 text-white">Lista de Juegos</a>
          <ion-icon name="logo-playstation"></ion-icon>
          <ion-icon name="logo-xbox"></ion-icon>
        </div>

        <div class="elements_flex">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>
              <a href="#" class="nav-link px-2 text-white">Luis Manfredi</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 text-white">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</header>
